html {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    background: #FAFAFA;
}

#editor {
    background-image: url('img/grid.png');
}