@import "../common.scss";

.editor-node {
    position: absolute;
    top: 10px;
    left: 10px;
    min-height: 126px;
    width: auto;
    background: $content-bg;
    color: $content-fg;

    &.is-dragging {
        background-color: rgba($content-bg, 0.8);
    }
    > .title {
        cursor: move;
    }
}

.editor-link {
    position:absolute;
}

.ports-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ports {
    margin: 0;
    min-width: 26px;
}
.ports.ports-left {
    order: 0;
}
.ports.ports-right {
    order: 1;
}

.port {
    padding: 8px;
}
.port-icon {
    margin: 0 5px;
}
.port-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0;
}
.port-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
}